/* default styles  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

/* navbar styles */

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  background-color: #22223b;
  color: #f2e9e4;
  font-size: 20px;
  padding: 20px;
  padding-right: 40px;
  margin-bottom: 20px;
  font-style: italic;
}

.basket {
  position: relative;
  font-size: 30px;
  background-color: #f2e9e4;
  color: #4a4e69;
  padding: 5px;
  border-radius: 3px;
}

.basketAmount {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: #4a4e69;
  color: #c9ada7;
  font-size: 16px;
  padding: 3px;
  border-radius: 3px;
}

/* item card styles */

.cards {
  display: grid;
  grid-template-columns: repeat(4, 223px);
  gap: 30px;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #22223b;
}

.details {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.details p {
  font-style: italic;
  font-size: 14px;
}

.price-quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.buttons:hover {
  cursor: pointer;
}

/* media queries for responsive design  */

@media (max-width: 1000px) {
  .cards {
    grid-template-columns: repeat(2, 223px);
  }
}

@media (max-width: 500px) {
  .cards {
    grid-template-columns: repeat(1, 223px);
  }
}
